<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Otra Página</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <h1>Operación Matemática</h1>
    <!-- Formulario para introducir los valores -->
    <form action="/realizar_operacion" method="POST">
        <label for="valor1">Valor 1:</label>
        <input type="text" id="valor1" name="valor1"><br><br>
        <label for="valor2">Valor 2:</label>
        <input type="text" id="valor2" name="valor2"><br><br>
        <input type="submit" value="Realizar Operación">
    </form>
</body>
</html>
